

/*Alterações do Template*/
section {
	padding: 0px !important;
	margin: 0px !important;
}

#breadcrumb{
	margin-top: -25px !important;
}
/*Fim das Alterações do Template*/

.hover-primary:hover{
	color: rgb(67, 67, 255);
	cursor: pointer;
}

.cursor-pointer{
	cursor: pointer;
}

.border-radius-top-none{
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}
.border-radius-bottom-none{
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}
.icon-menu{
	height:1.2em !important;
	margin-right: 10px !important;
	color:rgb(102, 102, 102);
}

.mh-100{
	min-height: 100px !important;
}

.mh-200{
	min-height: 200px !important;
}

.mh-300{
	min-height: 300px !important;
}

.w-5{
	width: 5% !important;
}

.w-10{
	width: 10% !important;
}

.w-15{
	width: 15% !important;
}

.w-20{
	width: 20% !important;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 3px 10px;
}

.w-action{
	width: 60px !important;
}

.w-status{
	width: 60px !important;
	text-align: center !important;
}

.w-id{
	width: 80px !important;
}



.select2 {
    width: 100% !important;
}


.moveall,
.removeall {
  border: 1px solid #ccc !important;
  background: #e9e9e9;
}

.moveall:hover,
.removeall:hover {
    background: #cccdcd;
}

.moveall::after {
  content: attr(title);
  
}

.removeall::after {
  content: attr(title);
}

.form-control option {
    padding: 5px;
    border-bottom: 1px solid #efefef;
}

.form-control option:hover {
	background: #c0f1f1ed;
}



:root {
	--white: #ffffff;
	--red: #b50000;
}

#container-img-home{
	opacity: 0.1; 
	position: absolute;
	bottom: 0px !important; 
	right:0px !important;	
	margin: 0px calc(50% - 15.875rem) !important;
	height: 80% !important;


	/*
	
	bottom: 0px !important; 
	height: var(--img-height) !important;
	float: none;

	display: flex;

	align-items: self-end	;
	*/

}

#img-home{
	height: 100% !important;
}

.lightgray{
	color: lightgray !important;
}

.border-lightgray{
	border-color: lightgray !important;
}

div#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--white);
	z-index: 99999;
}
.loader {
	position: absolute;
	float: right;
	top: 50%;
	left: 50%;
	margin-top:-50px; 
	margin-left:-50px;
	font-size: 18px;
	font-weight: bold;
}


/**
 * ==============================================
 * Dot Carousel
 * ==============================================
 */
 .dot-carousel {
	position: relative;
	float: right;
	left: -9999px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: var(--red);
	color: var(--red);
	box-shadow: 9984px 0 0 0 var(--red), 9999px 0 0 0 var(--red), 10014px 0 0 0 var(--red);
	animation: dot-carousel 1.5s infinite linear;
	margin: 7px 0px 0px 23px;
  }
  
  @keyframes dot-carousel {
	0% {
	  box-shadow: 9984px 0 0 -1px var(--red), 9999px 0 0 1px var(--red), 10014px 0 0 -1px var(--red);
	}
	50% {
	  box-shadow: 10014px 0 0 -1px var(--red), 9984px 0 0 -1px var(--red), 9999px 0 0 1px var(--red);
	}
	100% {
	  box-shadow: 9999px 0 0 1px var(--red), 10014px 0 0 -1px var(--red), 9984px 0 0 -1px var(--red);
	}
  }