
/*Alterações do Template*/
section {
	padding: 0px !important;
	margin: 0px !important;
}

#breadcrumb{
	margin-top: -25px !important;
}
/*Fim das Alterações do Template*/

.hover-primary:hover{
	color: rgb(67, 67, 255);
	cursor: pointer;
}

.cursor-pointer{
	cursor: pointer;
}

.border-radius-top-none{
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}
.border-radius-bottom-none{
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}
.icon-menu{
	height:1.2em !important;
	margin-right: 10px !important;
	color:rgb(102, 102, 102);
}

.mh-100{
	min-height: 100px !important;
}

.mh-200{
	min-height: 200px !important;
}

.mh-300{
	min-height: 300px !important;
}

.w-5{
	width: 5% !important;
}

.w-10{
	width: 10% !important;
}

.w-15{
	width: 15% !important;
}

.w-20{
	width: 20% !important;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 3px 10px;
}

.w-action{
	width: 60px !important;
}

.w-status{
	width: 60px !important;
	text-align: center !important;
}

.w-id{
	width: 80px !important;
}






.moveall,
.removeall {
  border: 1px solid #ccc !important;
  background: #e9e9e9;
}

.moveall:hover,
.removeall:hover {
    background: #cccdcd;
}

.moveall::after {
  content: attr(title);
  
}

.removeall::after {
  content: attr(title);
}

.form-control option {
    padding: 5px;
    border-bottom: 1px solid #efefef;
}

.form-control option:hover {
	background: #c0f1f1ed;
}